<table>
  <tr>
    <th>Team Members</th>
  </tr>
<% @project.team.people.each do |person| %>
  <tr>
    <td>
    <%= person.name %>
    </td>

  </tr>
<% end %>
</table>
<br />
<%= link_to "Edit", edit_project_team_path(@project.id,@project.team.id) %><br />
